:root {
  --color-primary: #0f4980;
  --color-primary-lighter: #1a7edb;
  --color-primary-light: #1463ad;
  --color-primary-dark: #0a2f52;
  --color-primary-darken: #041525;
  --color-accent: #ec681d;
  --color-second: var(--color-primary);
  --color-black: #1e1e1e;
  --color-gray-text: #616160;
  --color-white: #fff;
  --color-bg: #fff;
  --color-gray: #787878;
  --color-gray-light: #e5e5e5;
  --color-gray-lighten: #f2f2f2;
}