:root {
  --color-primary: #0f4980;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container .block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.container .block .block__item__name {
  background: var(--color-primary);
  margin: 0;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 270px;
  padding-top: 70px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
}
.container .block .block__item__title {
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 10px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 100px;
}
.container .block .block__item {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}
.container .block .block__item .block__item__wrap {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.container .block .block__item:hover {
  background-color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.container .block .block__item:hover .block__item__wrap {
  color: white;
}
.container .block .block__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.container .block .block__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .block .block__right .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 320px) and (max-width: 749px) {
  .container .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .container .block .block__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .container .block .block__right .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}